<%- include('partials/header'); -%>

    <button class="newProduct"><a href="/"><i class="fa-solid fa-backward"></i> Back</a></button>


    <div class="center data">
        <form method="post" action="/updateProduct?id=<%= products._id %>" class="productList">

            <div class="new_product">
                <div class="form-group">
                    <label for="productName">Product Name</label>
                    <input type="hidden" name="id" placeholder="Product ID" value="<%= products._id %>">
                    <input type="text" name="productName" placeholder="Enter Product Name" value="<%= products.productName %>" required>
                </div>
                <div class="form-group">
                    <label for="productBrand">Brand Name</label>
                    <input type="text" name="productBrand" placeholder="Enter Brand name" value="<%= products.productBrand %>" required>
                </div>
                <div class="form-group">
                    <label for="productModel">Model Number</label>
                    <input type="text" name="productModel" placeholder="Enter model number" value="<%= products.productModel %>" required>
                </div>
                <div class="form-group">
                    <label for="productDescription">Description</label>
                    <input type="text" name="productDescription" value="<%= products.productDescription %>" placeholder="Enter Description">
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" name="price" value="<%= products.price %>" placeholder="Enter Price">
                </div>

                <div class="form-group">
                    <label for="showPrice" class="text-light">Show Price</label>
                    <div class="radio inline">
                        <input type="radio" name="showPrice" value="ON" <%= products.showPrice == 'ON' ? 'checked' : '' %>>
                        <label for="showPrice">ON</label>
                    </div>
                    <div class="radio inline">
                        <input type="radio" name="showPrice" value="OFF" <%= products.showPrice == 'OFF' ? 'checked' : '' %>>
                        <label for="showPrice">OFF</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="stock">Stock</label>
                    <input type="number" name="stock" value="<%= products.stock %>" placeholder="Enter Item in stock">
                </div>
                <div class="form-group">
                    <label for="tags">Tags</label>
                    <input type="text" name="tags" value="<%= products.tags %>" placeholder="Enter common tags separated by commas">
                </div>

                <div class="form-group">
                    <label for="display" class="text-light">Display Product</label>
                    <div class="radio inline">
                        <input type="radio" name="display" value="ON" <%= products.display == 'ON' ? 'checked' : '' %>>
                        <label for="display">ON</label>
                    </div>
                    <div class="radio inline">
                        <input type="radio" name="display" value="OFF" <%= products.display == 'OFF' ? 'checked' : '' %>>
                        <label for="display">OFF</label>
                    </div>
                </div>


                <div class="form-group">
                    <button type="submit"><i class="fa-solid fa-floppy-disk"></i> Save</button>
                </div>
        
            </div>
  
        </form>
        <% if(notif!='') {%>
            <p class="alert alert-success" role="alert" style="font-weight: 700"><%= notif %> </p>
        <% } %>  
    </div>
<%- include('partials/footer'); -%>